 <!--<div class="alert alert-warning">-->

    <!--<span class="oi oi-warning"></span>-->

    <!--<strong>Site Under Construction</strong>-->

<!--    <strong>Outage Updates</strong>: There are assignments that have been extended due to class cancellations.-->

    <!--<ul>-->
        <!--<li><em>Homework 9</em>: Now due Thursday 10/31. Original deadline was Wednesday 10/30.</li>-->
    <!--</ul>-->

    <!--For more information or to ask questions, please see the <a href="https://piazza.com/class/jz0o7nf7bd4jp?cid=700">outage index thread</a>.-->
<!--</div> -->
